<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
    <h1 class="text1">Welcome</h1>

<div class="row">

    
    <h2 class="column text2">For teachers</h2>

    <h2 class=" column text3">For students</h2>

</div>



<div class="row">

<img class="column teacher" src="../static/images/teacher.png" alt="">


<img class="column student " src="../static/images/student.jpg" alt="">

</div>

<a href="/teacher"> <button class="b1" type="submit">Go ahead</button> </a>

<a href="/student"> <button class="b2" type="submit">Go ahead</button> </a>



</body>
</html>